.DS_Store
uploads/archivos_actaRD/*
uploads/archivos_barridos/*
uploads/archivos_descartes/*
uploads/archivos_secretaria/*
uploads/archivos_toxicologico/*
uploads/fotos_evidencias/*
uploads/reporte_semanal/*
application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
